/*
    -------------------------------
    ----- Skills Styles -----
    -------------------------------
*/

#skills {
    padding: 105px 15px 50px;
    text-align: center;

    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
    }

    li {
        display: inline-block;
        margin: 7px;
        padding: 8px 20px;
        color: $heading;
        background: darken($background-alt, 5%);
        list-style: none;
        cursor: default;
        border: 1px solid black;
        border-radius: 23px;
    }
}
